.coll-1 {
    /* width: 5%; */
    width: 50px;
}
.coll-2 {
    /* width: 5%; */
    width: 70px;
}
.coll-3 {
    /* width: 17%; */
    width: 170px;
}
.coll-4 {
    /* width: 16%; */
    width: 160px;
}
.coll-5 {
    /* width: 16%; */
    width: 160px;
}
.coll-6 {
    /* width: 27%; */
    width: 270px;
}
.coll-7 {
    /* width: 5%; */
    width: 150px;
}
.coll-8 {
    /* width: 5%; */
    width: 120px;
}