<!-- @if (currentUser.username) { -->
@if (isLoggedIn) {
<div class="container">
  <header class="jumbotron mb-4">
    <h3>
      <strong>{{ currentUser.username }}</strong> Profile
    </h3>
  </header>
  <p>
    <strong>Token:</strong>
    {{ currentUserr.token.substring(0, 20) }} ...
    {{ currentUserr.token.substr(currentUserr.token.length - 20) }}
  </p>
  <p>
    <strong>Email:</strong>
    {{ currentUser.email }}
  </p>
  <strong>Roles:</strong>
  <ul *ngFor="let role of roles | keyvalue" class="m-1">
    <li>{{ role.key }} - {{ role.value }}</li>
  </ul>
</div>
} @else {
<p class="mt-3">Please login.</p>
}
