<div class="container-fluid">
  <div class="row" align="center">
    <div class="header-background"></div>
    <!-- <div class="row justify-content-center">
      <div class="col-9 border rounded">Bla</div>
    </div> -->
    <div class="row justify-content-center mt-3">
      <div class="col-7 posit rounded px-3 pt-5 pb-3">
        <div>
          <div class="search-container col-9">
            <input
              type="text"
              class="form-control"
              [formControl]="cityInput"
              placeholder="Enter Destination"
              aria-label="Destination"
              [(ngModel)]="citySelected"
              (focus)="showDropdown = true"
              appClickOutside
              (appClickOutside)="showDropdown = false; isCityOpen = false"
              (click)="isCityOpen = !isCityOpen"
            />

            <div
              *ngIf="
                showDropdown &&
                isCityOpen &&
                (filteredLocations$ | async) as filteredLocations
              "
              class="dropdown-menu show"
              aria-labelledby="cityDropdown"
            >
              <li *ngFor="let location of filteredLocations">
                <a class="dropdown-item" (click)="selectCity(location)">{{
                  location
                }}</a>
              </li>
            </div>
          </div>

          <div class="col-9">
            <input
              type="text"
              class="form-control mt-3"
              placeholder="Date"
              #dateRangePicker="bsDaterangepicker"
              bsDaterangepicker
              [(ngModel)]="bsRangeValue"
              [datesDisabled]="disabledDates"
              [datesEnabled]="enabledDates"
              [bsConfig]="bsConfig"
            />
          </div>
          <!-- [bsValue]="bsValue" -->

          <button
            class="btn btn-success mt-4 search-button"
            (click)="onSearch()"
          >
            Search
          </button>
        </div>
      </div>
    </div>
    <div class="row justify-content-center home-after-header">
      <div align="left" class="p-4">
        <h1 class="fs-4 m-0">Last viewed</h1>
        <div
          *ngIf="viewedHotels && viewedHotels.length > 0"
          class="row gapping"
        >
          <div
            *ngFor="let lastViewed of viewedHotels; let i = index"
            class="col-sm-12 col-md-12 col-lg-5 rounded p-3 my-3 hotel-card"
          >
            <a
              href="/hotels/rooms"
              class="nav-link"
              routerLink="../hotels/rooms"
              (click)="
                showRooms(
                  lastViewed.hotelId,
                  lastViewed.averageReview,
                  lastViewed.totalReview
                )
              "
            >
              <div class="row row-room">
                <div class="col-md-5 col-lg-12 img-room">
                  <img
                    class="rounded"
                    src="../../assets/rooms/sample_room.jpeg"
                    alt=""
                  />
                </div>
                <div class="col-md-7 col-lg-12 card-half-two">
                  <div class="row">
                    <div class="col-sm-12 col-md-7 col-lg-12 py-2 card-middle">
                      <div class="row row-roomm">
                        <div class="col-7 col-md-12 col-lg-6">
                          <h1 class="fs-3 m-0">
                            {{ lastViewed.hotelName }}
                          </h1>
                          <div class="star-rating">
                            <img
                              class="star empty"
                              *ngFor="
                                let star of generateStars(lastViewed.hotelStar!)
                              "
                              src="../../assets/rooms/star.png"
                            />
                          </div>
                          <h2 class="fs-6">{{ lastViewed.hotelLocation }}</h2>
                        </div>
                        <div class="col-5 col-md-12 col-lg-6 ps-0 reviews">
                          <div class="reviews-flex">
                            <div class="reviews-header mt-1">
                              <h2
                                *ngIf="lastViewed.averageReview * 2 >= 9"
                                class="fs-6 m-0"
                              >
                                Exceptional
                              </h2>
                              <h2
                                *ngIf="
                                  lastViewed.averageReview * 2 >= 8 &&
                                  lastViewed.averageReview * 2 < 9
                                "
                                class="fs-6 m-0"
                              >
                                Excellent
                              </h2>
                              <h2
                                *ngIf="
                                  lastViewed.averageReview * 2 >= 7 &&
                                  lastViewed.averageReview * 2 < 8
                                "
                                class="fs-6 m-0"
                              >
                                Very good
                              </h2>
                              <h2
                                *ngIf="
                                  lastViewed.averageReview * 2 >= 6 &&
                                  lastViewed.averageReview * 2 < 7
                                "
                                class="fs-6 m-0"
                              >
                                Good
                              </h2>
                              <div
                                *ngIf="lastViewed.averageReview > 0"
                                class="average-review"
                              >
                                <h2 class="fs-6 m-0">
                                  {{ lastViewed.averageReview * 2 }}
                                </h2>
                              </div>
                            </div>
                            <p class="fs-6 m-0">
                              ({{ lastViewed.totalReview }} reviews)
                            </p>
                          </div>
                          <div></div>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-5 col-lg-12 card-price">
                      <div class="row rounded hotel-price p-2">
                        <div
                          *ngIf="lastViewed.hotelPrice"
                          class="col-md-12 col-sm-6 col-6 col-lg-6"
                        >
                          <p class="m-0" align="left">
                            From {{ lastViewed.hotelPrice }} ₫
                          </p>
                        </div>
                        <div
                          class="col-md-12 col-sm-6 col-6 col-lg-6 hotel-price-button p-0"
                          align="end"
                        >
                          <button class="btn btn-primary">See Prices</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <!-- <div class="row gapping">
          <div
            *ngFor="let hoteList of hoteListsFormatted$ | async; let i = index"
            class="col-sm-12 col-md-12 col-lg-5 border rounded p-3 my-3 hotel-card"
          >
            <a
              href="hotels/rooms"
              class="nav-link"
              routerLink="rooms"
              (click)="
                showRooms(
                  hoteList.id,
                  hoteList.averageReview,
                  hoteList.totalReviews
                )
              "
            >
              <div class="row row-room">
                <div class="col-md-5 col-lg-12 img-room">
                  <img
                    class="rounded"
                    src="../../assets/rooms/sample_room.jpeg"
                    alt=""
                  />
                </div>
                <div class="col-md-7 col-lg-12 card-half-two">
                  <div class="row">
                    <div class="col-sm-12 col-md-7 col-lg-12 py-2 card-middle">
                      <div class="row row-roomm">
                        <div class="col-7 col-md-12 col-lg-7">
                          <h1 class="fs-3 m-0">
                            {{ hoteList.hotelName }}
                          </h1>
                          <div class="star-rating">
                            <img
                              class="star empty"
                              *ngFor="
                                let star of generateStars(hoteList.hotelStar!)
                              "
                              src="../../assets/rooms/star.png"
                            />
                          </div>
                          <h2 class="fs-6">{{ hoteList.location }}</h2>
                        </div>
                        <div class="col-5 col-md-12 col-lg-5 ps-0 reviews">
                          <div class="reviews-flex">
                            <div class="reviews-header mt-1">
                              <h2
                                *ngIf="hoteList.averageReview * 2 >= 9"
                                class="fs-6 m-0"
                              >
                                Exceptional
                              </h2>
                              <h2
                                *ngIf="
                                  hoteList.averageReview * 2 >= 8 &&
                                  hoteList.averageReview * 2 < 9
                                "
                                class="fs-6 m-0"
                              >
                                Excellent
                              </h2>
                              <h2
                                *ngIf="
                                  hoteList.averageReview * 2 >= 7 &&
                                  hoteList.averageReview * 2 < 8
                                "
                                class="fs-6 m-0"
                              >
                                Very good
                              </h2>
                              <h2
                                *ngIf="
                                  hoteList.averageReview * 2 >= 6 &&
                                  hoteList.averageReview * 2 < 7
                                "
                                class="fs-6 m-0"
                              >
                                Good
                              </h2>
                              <div
                                *ngIf="hoteList.averageReview > 0"
                                class="average-review"
                              >
                                <h2 class="fs-6 m-0">
                                  {{ hoteList.averageReview * 2 }}
                                </h2>
                              </div>
                            </div>
                            <p class="fs-6 m-0">
                              ({{ hoteList.totalReviews }} reviews)
                            </p>
                          </div>
                          <div></div>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-5 col-lg-12 card-price">
                      <div class="row rounded hotel-price p-2">
                        <div
                          *ngIf="hoteList.lowestPrice"
                          class="col-md-12 col-sm-6 col-6 col-lg-6"
                        >
                          <p class="m-0" align="left">
                            From {{ hoteList.lowestPricee }} ₫
                          </p>
                        </div>
                        <div
                          class="col-md-12 col-sm-6 col-6 col-lg-6 hotel-price-button p-0"
                          align="end"
                        >
                          <button class="btn btn-primary">See Prices</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div> -->
      </div>
      <div class="home-offers" align="left">
        <h1 class="fs-4 m-0">Offers</h1>
        <p class="fs-5 mb-1">Promotions, deals and special offers for you</p>
        <div>
          <h2 class="fs-3 mt-2">Seize the moment</h2>
          <p>Save 15% or more when you book and stay before 1 October 2024</p>
        </div>
      </div>
      <div class="mt-5">
        <h1 class="fs-2">Top Destinations</h1>
        <p class="fs-5 mb-1">
          Most popular choices for travellers from Vietnam
        </p>
        <div class="top-dest mt-3">
          <div class="d-flex gap-3">
            <div
              class="top-dest-img-1"
              (click)="citySelected = 'Ho Chi Minh City'; onSearch()"
            >
              <div class="d-flex gap-2 ms-3 mt-2">
                <h1 class="fs-2 m-0">Ho Chi Minh City</h1>
                <img src="../../assets/home/vietnam.png" />
              </div>
            </div>
            <div class="top-dest-img-2" (click)="citySelected = ''; onSearch()">
              <div class="d-flex gap-2 ms-3 mt-2">
                <h1 class="fs-2 m-0">Vung Tau</h1>
                <img src="../../assets/home/vietnam.png" />
              </div>
            </div>
          </div>
          <div class="d-flex gap-3 mt-3">
            <div
              class="top-dest-img-3"
              (click)="citySelected = 'Da Nang'; onSearch()"
            >
              <div class="d-flex gap-2 ms-3 mt-2">
                <h1 class="fs-2 m-0">Da Nang</h1>
                <img src="../../assets/home/vietnam.png" />
              </div>
            </div>
            <div
              class="top-dest-img-4"
              (click)="citySelected = 'Dalat'; onSearch()"
            >
              <div class="d-flex gap-2 ms-3 mt-2">
                <h1 class="fs-2 m-0">Da Lat</h1>
                <img src="../../assets/home/vietnam.png" />
              </div>
            </div>
            <div
              class="top-dest-img-5"
              (click)="citySelected = 'Hanoi'; onSearch()"
            >
              <div class="d-flex gap-2 ms-3 mt-2">
                <h1 class="fs-2 m-0">Hanoi</h1>
                <img src="../../assets/home/vietnam.png" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="main-background"></div>
