.main-background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -20;
  height: 100%;
  width: 100%;
  /* background-color: rgb(147, 209, 209); */
  background-color: rgb(147, 169, 169);
}

.header-background {
    position: absolute;
    left: 0;
    top: 65px;
    z-index: -10;
    width: 100%;
    height: 300px;
    padding: 0;
    background-image: url("../../assets/home/back3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.posit {
    /* border: 1px solid rgb(90, 157, 151); */
    border: 1px solid rgb(114, 136, 159);
    background-color: rgba(156, 166, 188, 0.472);
}

.search-container {
    position: relative;
  }
  
  .search-container .dropdown-menu.show {
    /* position: absolute; */
    /* left: 0; */
    /* top: 100%;  */
    width: 100%;
    /* z-index: 1050; */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    /* border: none; */
  }
  
  /* .search-container input:focus ~ .dropdown-menu.show::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1040;
  } */
  
  /* .search-container .dropdown-menu a:focus {
    outline: none;
    box-shadow: none;
  } */