.div-router {
    margin: 0;
    width: 100%;
}

/* ? Nav ------------------------------------------ */
/* * General */
nav {
    /* position: fixed; */
    z-index: 100;
}
.nav-header {
    display: flex;
    position: relative;
    height: 40px;
}
.nav-header img {
    height: 100%;
}
.nav-header {
    
}
.nav-link {
    white-space: nowrap;
}
nav .d-flex a,
nav .d-flex a:visited {
    /* color: rgb(122, 199, 237); */
    color: rgb(98, 168, 203);
    font-size: 1.1em;
}
nav .d-flex a:hover {
    color: rgb(80, 139, 168);
}

.nav-link, .navbar-brand{
    cursor: pointer;
}
.navbar-nav li {
    position: relative;
}
.cart {
    position: relative;
    height: 40px;
    width: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
}
.cart:hover {
    border: 1.5px solid rgb(103, 156, 182);
}
.cart:hover p {
    visibility: hidden;
}
.cart-img {
    position: relative;
    height: 25px;
    width: 25px;
}
.cart img {
    height: 100%;
}
.cart p {
    position: absolute;
    bottom: 0;
    right: -4px;
    color: rgb(214, 55, 55);
    font-weight: 700;
    margin: 0;
}
/* .cart-number {
    position: absolute;
    bottom: 0;
    right: 12px;
    color: rgb(214, 55, 55);
    font-weight: 700;
    margin: 0;
} */


.breadcrumb {
    background-color: initial;
}
.dropdown-menu {
    left: -70px;
    top: 40px;
    background-color: rgb(79, 79, 79);
}

.board {
    position: fixed;
    top: 50px;
    left: -30vw;
    width: 20vw;
    height: 100vh;
    background-color: #f8e3ce;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    opacity: 0;
    transition: left 0.5s ease-in-out, opacity 0.5s ease-in-out 0.5s;
    /* transform: translateX(-100%); */
    z-index: 10;
  }
  
  .board.show {
    left: 0;
    /* transforam: translateX(0);  */
    opacity: 1;
  }

  .board a {
    transition: transform 0.3s ease;
  }
  .board a:hover {
    transform: translateX(10px);
  }