.div-router {
    margin: 0;
    width: 100%;
}

/* ? Nav ------------------------------------------ */
/* * General */
nav {
    /* position: fixed; */
    z-index: 100;
}
.nav-link {
    white-space: nowrap;
}
nav .d-flex a,
nav .d-flex a:visited {
    /* color: rgb(122, 199, 237); */
    color: rgb(98, 168, 203);
    font-size: 1.1em;
}
nav .d-flex a:hover {
    color: rgb(80, 139, 168);
}

.nav-link, .navbar-brand{
    cursor: pointer;
}


.breadcrumb {
    background-color: initial;
}
.dropdown-menu {
    left: -70px;
    top: 40px;
    background-color: rgb(79, 79, 79);
}

.board {
    position: fixed;
    top: 50px;
    left: -20vw;
    width: 20vw;
    height: 100vh;
    background-color: #f8e3ce;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: left 0.5s ease-in-out;
    z-index: 10;
  }
  
  .board.show {
    left: 0;
  }

  .board a {
    transition: transform 0.3s ease;
  }
  .board a:hover {
    transform: translateX(10px);
  }