<!-- <div class="container-fluid">
    <div class="row">
      <div class="col-12 p-0">
        <router-outlet></router-outlet>
      </div>
    </div>
</div> -->

<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-dark px-2">
    <a href="#" class="navbar-brand" (click)="isShowBoard = false">NgNet</a>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item">
        <a
          href="/home"
          class="nav-link"
          routerLink="home"
          (click)="isShowBoard = false"
          >Home</a
        >
      </li>
      <li class="nav-item">
        <a
          href="/hotels"
          class="nav-link"
          routerLink="hotels"
          (click)="isShowBoard = false"
          >Hotels</a
        >
      </li>
      @if (showAdminBoard) {
      <li class="nav-item">
        <!-- <a href="/list/users" class="nav-link" routerLink="list/users"
          >Admin Board</a
        > -->
        <a class="nav-link" (click)="showBoard()">Admin Board</a>
      </li>
      } @if (showModeratorBoard) {
      <li class="nav-item">
        <a
          href="/mod"
          class="nav-link"
          routerLink="mod"
          (click)="isShowBoard = false"
          >Moderator Board</a
        >
      </li>
      } @if (isLoggedIn && !showModeratorBoard && !showAdminBoard) {
      <li class="nav-item">
        <a href="user" class="nav-link" routerLink="user">User</a>
      </li>
      }
    </ul>

    @if (!isLoggedIn) {
    <div class="container-fluid">
      <div></div>
      <ul class="navbar-nav ml-auto">
        <li>
          <div class="cart mx-3" (click)="onCart()">
            <div class="cart-img">
              <img src="../assets/cart.png" alt="cart" />
            </div>
            <p *ngIf="cart > 0">{{ cart }}</p>
          </div>
        </li>
        <li class="nav-item">
          <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
        </li>
        <li class="nav-item">
          <a href="/login" class="nav-link" routerLink="login">Login</a>
        </li>
      </ul>
    </div>
    } @else {
    <div class="container-fluid">
      <ul class="navbar-nav ml-auto"></ul>
      <div class="d-flex align-items-center">
        <div class="cart mx-3" (click)="onCart()">
          <div class="cart-img">
            <img src="../assets/cart.png" alt="cart" />
          </div>

          <p *ngIf="cart > 0">{{ cart }}</p>
        </div>

        <a
          href="/profile"
          class="nav-link"
          routerLink="profile"
          (click)="isShowBoard = false"
          >{{ username }}</a
        >

        <div class="dropdown px-2">
          <a
            href="#"
            class="dropdown-toggle"
            role="button"
            id="dropdownMenuLink"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <img
              src="https://github.com/mdo.png"
              alt="mdo"
              width="32"
              height="32"
              class="rounded-circle"
            />
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li align="center">
              <button class="btn btn-danger" (click)="logout()">Log out</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
    }
  </nav>
  @if (showAdminBoard && isShowBoard) {
  <div class="board" [class.show]="isShowBoard">
    <ul class="navbar-nav mr-auto p-4" routerLinkActive="active">
      <li class="nav-item border-bottom border-black">
        <a href="list/users" class="nav-link" routerLink="list/users">Users</a>
      </li>
      <li class="nav-item border-bottom border-black">
        <a href="list/hotels" class="nav-link" routerLink="list/hotels"
          >Hotels</a
        >
      </li>
      <li class="nav-item">
        <a href="list/bookings" class="nav-link" routerLink="list/bookings"
          >Bookings</a
        >
      </li>
    </ul>
  </div>
  }

  <div class="container-fluid div-router" (click)="closeBoard()">
    <router-outlet class="px-4"></router-outlet>
  </div>
</div>
