<div>
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12 row">
        <div class="col-8 p-3">
          <!-- <h1>Your cart ({{}})</h1> -->
          <div>
            <div></div>
            <div>
              <p>You have no items here</p>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="border rounded p-3">
            <h2>Total price</h2>
            <div>
              <div></div>
              <div>No items selected yet</div>
            </div>
            <div>
              <button class="btn btn-primary mt-3">Next</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
