button {
    width: 100%;
}

.date-picker {
    position: absolute;
    top: auto;
    bottom: auto;
    left: 50%;
    /* right: auto; */
  }

  .modal-overlay {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; /* Ensure it's above other content */
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
  }
  .modal-footer {
    display: flex;

  }
  .modal-footer button {
    width: fit-content;
  }

.delete-container {
    width: 40px;
    height: 40px;
    position: relative;
  }
  
  .delete-img {
    height: 100%;
  }

  .custom-row p {
    display: flex;
    align-items: center;
    /* justify-content: center; */
  }
  .checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .pagination {
    justify-content: center;
  }
  .pagination button {
    width: 12rem;
  }