@if (isLoggedIn) {
<div>
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="table-responsive border rounded p-3 my-3">
          <h2 class="text-center m-5">Payments List</h2>

          <table class="table table-bordered">
            <thead>
              <tr class="table-primary">
                <th>#</th>
                <th>Id</th>
                <th>
                  <div class="d-flex flex-nowrap">
                    <span>BookingId</span>
                    <!-- <input
                          type="text"
                          [(ngModel)]="userId"
                          (ngModelChange)="onUserIdFilterChange($event)"
                        /> -->
                  </div>
                </th>
                <th>
                  <div class="d-flex flex-nowrap">
                    <span>UserId</span>
                    <!-- <input
                          type="text"
                          [(ngModel)]="hotelId"
                          (ngModelChange)="onHotelIdFilterChange($event)"
                        /> -->
                  </div>
                </th>
                <th>
                  <div class="d-flex flex-nowrap">
                    <span>Price</span>
                    <!-- <input
                          type="text"
                          [(ngModel)]="roomId"
                          (ngModelChange)="onRoomIdFilterChange($event)"
                        /> -->
                  </div>
                </th>
                <th>PaymentMethod</th>
                <th>Card</th>
                <th>IsActive</th>
                <th>CreatedDate</th>
              </tr>
            </thead>

            <tbody class="table-group-divider">
              @if (listLists == 0) {
              <tr *ngFor="let payment of payments$ | async; let i = index">
                <td class="table-primary">{{ i + 1 }}</td>
                <td>{{ payment.id }}</td>
                <td>{{ payment.bookingId }}</td>
                <td>{{ payment.userId }}</td>
                <td>{{ payment.price }}</td>
                <td>{{ payment.paymentMethod }}</td>
                <td>{{ payment.visaCard }}</td>
                <td>{{ payment.isActive }}</td>
                <td>{{ payment.date }}</td>
                <td align="center">
                  <div class="d-flex flex-nowrap">
                    <button
                      class="btn btn-primary me-1"
                      (click)="editList(payment.id)"
                    >
                      Edit
                    </button>
                    <button
                      class="btn btn-danger mx-1"
                      (click)="deleteList(payment.id)"
                    >
                      Delete
                    </button>
                  </div>
                </td>
              </tr>
              }<!-- @else if (isByUser) {
                  <tr
                    *ngFor="let booking of bookingsByUser$ | async; let i = index"
                  >
                    <td class="table-primary">{{ i + 1 }}</td>
                    <td>{{ booking.id }}</td>
                    <td>{{ booking.userId }}</td>
                    <td>{{ booking.hotelId }}</td>
                    <td>{{ booking.roomId }}</td>
                    <td>{{ booking.checkIn }}</td>
                    <td>{{ booking.checkOut }}</td>
                    <td>{{ booking.isActive }}</td>
                    <td>{{ booking.createdDate }}</td>
                    <td align="center">
                      <div class="d-flex flex-nowrap">
                        <button
                          class="btn btn-primary me-1"
                          (click)="editList(booking.id)"
                        >
                          Edit
                        </button>
                        <button
                          class="btn btn-danger mx-1"
                          (click)="deleteList(booking.id)"
                        >
                          Delete
                        </button>
                      </div>
                    </td>
                  </tr>
                  } @else if (isByHotel) {
                  <tr
                    *ngFor="let booking of bookingsByHotel$ | async; let i = index"
                  >
                    <td class="table-primary">{{ i + 1 }}</td>
                    <td>{{ booking.id }}</td>
                    <td>{{ booking.userId }}</td>
                    <td>{{ booking.hotelId }}</td>
                    <td>{{ booking.roomId }}</td>
                    <td>{{ booking.checkIn }}</td>
                    <td>{{ booking.checkOut }}</td>
                    <td>{{ booking.isActive }}</td>
                    <td>{{ booking.createdDate }}</td>
                    <td align="center">
                      <div class="d-flex flex-nowrap">
                        <button
                          class="btn btn-primary me-1"
                          (click)="editList(booking.id)"
                        >
                          Edit
                        </button>
                        <button
                          class="btn btn-danger mx-1"
                          (click)="deleteList(booking.id)"
                        >
                          Delete
                        </button>
                      </div>
                    </td>
                  </tr>
                  } @else if (isByRoom) {
                  <tr
                    *ngFor="let booking of bookingsByRoom$ | async; let i = index"
                  >
                    <td class="table-primary">{{ i + 1 }}</td>
                    <td>{{ booking.id }}</td>
                    <td>{{ booking.userId }}</td>
                    <td>{{ booking.hotelId }}</td>
                    <td>{{ booking.roomId }}</td>
                    <td>{{ booking.checkIn }}</td>
                    <td>{{ booking.checkOut }}</td>
                    <td>{{ booking.isActive }}</td>
                    <td>{{ booking.createdDate }}</td>
                    <td align="center">
                      <div class="d-flex flex-nowrap">
                        <button
                          class="btn btn-primary me-1"
                          (click)="editList(booking.id)"
                        >
                          Edit
                        </button>
                        <button
                          class="btn btn-danger mx-1"
                          (click)="deleteList(booking.id)"
                        >
                          Delete
                        </button>
                      </div>
                    </td>
                  </tr>
                  } -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
}
